<div class="container my-2">
  <h1 class="h1 text-center">Open Shops</h1>

  <!-- Write Post form -->
  <form>

    <div class="form-group">
      <label for="p-title">Shop Name</label>
      <input type="text"
        class = "form-control from-control-lg"
        id="p-title"
        placeholder="Enter your shop name here"
        row="3">
    </input>
    </div>


    <div class="form-group">
      <label for="p-body">Shop Address</label>
      <textarea class="form-control form-control-sm"
      id="p-body"
      placeholder="Enter your shop address"
      rows ="4"></textarea>
      
    </div>

    <div class="form-group">
      <label for="p-queuelength">queue length</label>
      <input type="number"
        class = "form-control from-control-lg"
        id="p-queuelength"
        placeholder="Enter queue length"
        row="3">
    </input>
    </div>

    <div class="form-group">
      <label for="p-timepercustomer">time per customer</label>
      <input type="number"
        class = "form-control from-control-lg"
        id="p-timepercustomer"
        placeholder="Enter time per customer"
        row="3">
    </input>
    </div>

    <div class="form-group">
      <label for="p-opentime">open time</label>
      <input type="number"
        class = "form-control from-control-lg"
        id="p-opentime"
        placeholder="Enter open time"
        row="3">
    </input>
    </div>

    <div class="form-group">
      <label for="p-closetime">close time</label>
      <input type="number"
        class = "form-control from-control-lg"
        id="p-closetime"
        placeholder="Enter close time"
        row="3">
    </input>
    </div>

    <button type="submit" id="write-btn" class="btn btn-primary">Submit</button>
  </form>
</div>

<script src="/app/write-post.js"></script>
